# fly.toml app configuration file generated for void-duelist on 2026-01-29T09:08:49-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'void-duelist'
primary_region = 'lax'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8080'
  NODE_ENV = 'production'
  SCOREBOARD_DATA_PATH = '/data/scoreboard.json'

[[mounts]]
  source = 'scoreboard_data'
  destination = '/data'
  initial_size = '1gb'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true

  [[http_service.checks]]
    interval = '15s'
    timeout = '5s'
    grace_period = '5s'
    method = 'GET'
    path = '/'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
